<!DOCTYPE html>
<html>
<head>
	<title>Social Media Ads API</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="{{ url_for('static',filename='img/wave.svg') }}">
	<div class="container">
		<div class="img">
			<img src="{{ url_for('static',filename='img/social_design.svg') }}">
		</div>
		<div class="login-content">
			<form action= "/socialbuy" method = "POST">
				<h2 class="title">Social Media API</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>User ID</h5>
           		   		<input type="text" class="input" name = "User_id">
           		   </div>
           		</div>
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-asterisk"></i>
					</div>
					<div class="div">
						<h5>Gender</h5>
						<input type="text" class="input" name = "Gender">
					</div>
				</div>
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-asterisk"></i>
					</div>
					<div class="div">
						<h5>Age</h5>
						<input type="text" class="input" name = "Age">
					</div>
				</div>
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-asterisk"></i>
					</div>
					<div class="div">
						<h5>Estimated Salary</h5>
						<input type="text" class="input" name = "EstimatedSalary">
					</div>
				</div>
				

				
            	<input type="submit" class="btn" value="Get Buy Status">
            </form>
        </div>
    </div>
	<script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
</body>
</html>
